@charset "UTF-8";
/* 여기는 추가로 CSS설정을 하는 공간입니다. */


/* 이상욱 : 모든 앵커 커서모양을 포인터로 변경하고 앵커의 밑줄을 없애고 글씨 색상을 검정색으로 변경 */
a {
   cursor: pointer;
   text-decoration: none;
   color: black;
}

.rent {
   margin-right: 50px; 
   padding: 0px;
}
.rent>.caption {
   color: black;
}

.rent {
   margin-right: 50px; 
   padding: 0px;
}
.rent>.caption {
   color: black;
}

/* 이상욱 : 패럴랙스 사진 사이즈 조정 */
.parallax-window {
    min-height: 600px;
}

/* navMenu에 선택된 메뉴 글씨색 검정색으로 변경*/
.choice{
   color: black !important;
}

.rent {
   margin-right: 50px; 
   padding: 0px;
}
.rent>.caption {
   color: black;
}

.rent {
	margin-right: 50px; 
	padding: 0px;
}
.rent>.caption {
	color: black;
}

/* 조선화 : 메인 로고 이미지 사이즈 */

.mainLogo {
   display: inline-block;
   vertical-align: middle;
   float: none;
}
.mainLogo img {
   height: 70%;
   width: 70%;
}
.navi ul{
   margin: auto 0 !important;
}

.vcenter a {
   font-size: 20px;
   color: gray;
}

.vcenter ul{
   float:right;
}
.vcenter ul li{
   list-style: none;
}

.vcenter ul li { 
   display:inline-block; /* 세로나열을 가로나열로 변경 */ 
   border-left :1px solid lightgray; /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */ 
   padding:0 20px; /* 각 메뉴 간격 */ 
}

.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}



/* 조선화 : 로그인 영역 */


#loginbox {
    margin-top: 5%; /* 헤더와 로그인box 사이의 간격 */
}

#loginbox > div:first-child {        
    padding-bottom: 5%;  /* 로그인 박스 아래쪽 여백 */
}

#form > div {
    margin-bottom: 3%; /* form 안에 div(input요소들) 여백 */
}

#form > div:last-child { /* from 안에 div 중 마지막 요소의 여백 */
    margin-top: 5%;
    margin-bottom: 5%;
}

.panel {    
    background-color: transparent; /* 배경에 색상 지정시 투명도*/
}

.panel-body { /* 폼을 감싸고 있는 div */
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}


/* 이상욱 : 슬라이드네비게이션 애니메이션을 만들기위한 설정 */
.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0%;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}