<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<mvc:annotation-driven />
	<aop:aspectj-autoproxy />

<!-- 	<mvc:resources location="/resources/css/" mapping="/css/**"/>
	<mvc:resources location="/resources/img/" mapping="/img/**"/>
	<mvc:resources location="/resources/js/" mapping="/js/**"/>
	<mvc:resources location="/resources/font/" mapping="/font/**"/> -->
<mvc:resources location="/resources/" mapping="/resources/**"/> 

	<!-- view resolver -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="1" />
	</bean>

	<!-- tiles view resolver -->
	<bean id="tilesViewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.tiles3.TilesView" />
		<property name="order" value="0" />
	</bean>

	<!-- tiles framework config -->
	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles-config.xml</value>
			</list>
		</property>
	</bean>

	<!-- Handler Interceptor-->
	<mvc:interceptors>
		<!-- 로그인체크용 interceptor -->
		<mvc:interceptor>
			<mvc:mapping path="" />
			<mvc:exclude-mapping path="" />
			<bean
				class="org.spider.batassugi.controller.CheckLoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- MultipartResolver : 파일 업로드용-->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="100000000" />
		<property name="maxInMemorySize" value="100000000" />
	</bean>
</beans>
